<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- 👇👇👇 必须确保这三项都有，否则 iOS 100% 闪退 👇👇👇 -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>我们需要您的位置来显示地图定位</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>我们需要您的位置来显示地图定位</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>我们需要您的位置来显示地图定位</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>我们需要访问您的相册来选择头像</string>
    <key>NSCameraUsageDescription</key>
    <string>我们需要访问您的相机来拍摄头像</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>我们需要访问您的麦克风</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>晗伴</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>my_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>我们需要您的位置以显示您的所在地区</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>我们需要您的位置以显示您的所在地区</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <!-- 👇👇👇 新增这段配置，允许访问 HTTP 接口 👇👇👇 -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <!-- 👆👆👆 新增结束 👆👆👆 -->

</dict>
</plist>
